.language-switcher {
  cursor: pointer;
}

.language-menu {
  list-style-type: none;
  padding: 0;
  color: var(--text-color);
}

.language-menu li {
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px; /* Adjust margin for space between list items */
}

.language-menu li:hover {
  background-color: var(--content-bg);
  color: var(--text-color);
}

.language-menu li.selected {
  color: var(--text-color);
  background-color: var(--content-bg);
  font-weight: bold;
}

.check-icon {
  margin-left: 5px;
}
