#login-modal-bg {
  background-color: var(--content-bg) !important;
}

.title {
  color: #333333; 
  font-size: 30px; 
  font-weight: bold; 
}

.input-field {
  border-radius: 10px;
  border: 1px solid var(--indigo-600);
  padding: 13px;
  width: 100%;
  box-sizing: border-box; 
  background-color: #fff;
}
.input-field:focus {
  border-color: var(--indigo-600);
}

.required-label label::after {
  content: "*";
  color: red;
  margin-left: 5px;
}


.submit-button, .google-button {
  display: flex; 
  justify-content: center;
  align-items: center; 
  border-radius: 18px;
  width: 100%;
  height: 50px; 
  line-height: 40px; 
  text-align: center; 
}


.google-button {
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  margin-top: 16px;
}

.logo {
  height: 150px;
  width: auto;
}