.player-contrainer {
width: 30%;
position: fixed;
z-index: 1000;
background-color: var(--sider-bg);
box-shadow: 10px 10px 50px 10px rgba(0, 0, 0, 0.1);
border: none;
overflow: hidden;
padding: 10px;
border-radius: 20px;
bottom: 15px;
justify-content: center;
align-items: center;
display: flex;
}

.play-buttom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23px;
  height: 23px;
  color: #f43f5e;

}
.play-icon svg {
  font-size: 2.5rem;
  color: #4f46e5;
}


/* set mobile screen */
@media (max-width: 768px) {
.player-contrainer {
  width: 100%;
  left: 0;
  border-radius: 0;
  bottom: 0;
}
}
/*  */
