

.dashboard-card {
  /* box-shadow: 0 20px 37.6px rgba(0, 0, 0, 0.090); */
  /* border: none; */
}

 /* AllUser and FileManager =================================== */
#user-podcast-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#user-podcast-table td, #user-podcast-table th {
  border: 1px solid #ddd;
  border-left: none;
  border-right: none;
  padding: 7px;
}

/* #user-table tr:nth-child(even){background-color: #f2f2f2;} */

#user-podcast-table tr:hover {
  background-color: var(--white);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

#user-podcast-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: var(--white);
  color: var(--slate-500);
}
.role {
  align-items: center;
  justify-content: center;

}
.chiil-role {
  display: flex;
  border-top: none;
  border-radius: 10px;
  padding: 9px;
  width: 70px;
  justify-content: center;
}

.status {
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; 
}
.chil-status {
  display: flex;
  border-top: none;
  border-radius: 10px;
  padding: 9px;
  width: 70px;
  justify-content: center;
}


/* spin containner loading */
.spin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust this value as needed */
}

.overflow-auto {
  overflow-x: auto;
}