

.dashboard-card {
  background-color: var(--card-bg) !important;
  border-color: var(--border-color) !important;
}
.all-user-card {
  background-color: var(--card-bg) !important;
  border-color: var(--border-color) !important;
}
.file-manager-container {
  background-color: var(--card-bg) !important;
  border-color: var(--border-color) !important; 
}
 /* AllUser and FileManager =================================== */
#user-podcast-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#user-podcast-table thead tr {
  border: 1px solid #a9a9a9a3;
}


#user-podcast-table td, #user-podcast-table th {
  /* border: 1px solid #a9a9a9; */
  border: none;
  border-left: none;
  border-right: none;
  padding: 7px;
}

#user-podcast-table tr:hover {
  background-color: var(--card-hover);
}

#user-podcast-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: var(--contet-color);
  color: var(--text-color);
 
}


.role {
  align-items: center;
  justify-content: center;

}
.chiil-role {
  display: flex;
  border-top: none;
  border-radius: 10px;
  padding: 9px;
  width: 70px;
  justify-content: center;
}

.status {
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; 
}
.chil-status {
  display: flex;
  border-top: none;
  border-radius: 10px;
  padding: 9px;
  width: 70px;
  justify-content: center;
}


/* spin containner loading */
.spin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust this value as needed */
}

.overflow-auto {
  overflow-x: auto;
}