
.main-register {
  justify-content: center;
  align-items: center;
  background-color: var(--slate-50);
  height: 100vh;
  overflow: auto;
}

.register-form {
  width: 100%;
  min-height: 100vh;
  height: fit-content; /* Adjust height to fit content */
  justify-content: center;
  align-items: center;
  overflow: auto;
}


@media (max-width: 600px) {
  .register-card {
    height: 100vh;
    overflow: auto;
    background-color: var(--slate-50) !important;
    border: none;
    border-radius: 0 ;
  }
  .register-form {
    height: 100vh;
    overflow: auto;
  }
}
@media (max-height: 100vh) {
  .register-form {
    overflow: auto;
    background-color: var(--indigo-600) !important;
  }
}
@media  (max-width: 830px) {
  .register-backBtn {
    display: none !important;
  }
}