

.register-form {
  width: 100%;
  min-height: 100vh;
  height: fit-content; /* Adjust height to fit content */
  justify-content: center;
  align-items: center;
  overflow: auto;
}


@media (max-width: 520px) {
  .register-form {
    overflow: auto;
  }
  .card {
    height: 100vh;
  }
  
}

@media (max-height: 90vh) {
  .register-form {
    /* flex: 1; */
    overflow: auto;
  }
}