
.forgot-password-card {
  box-shadow: 0 20px 37.6px rgba(0, 0, 0, 0.090);
  border: none;
}

@media screen and (max-width: 730px) {
  .forgot-password-card {
    height: 100vh;
    width: 100% !important;
    overflow: auto;
    background-color: var(--slate-50) !important;
    border: none;
    border-radius: 0 ;
  }
}