.forgotpassword-container {
  /* background-color: var(--forgot-password-bg); */
  background-color: #4f46e5;
  /* color: var(--text-color); */
}
.forgot-password-card {
  background-color: white;
  /* background-color: var(--forgot-password-card) !important; */
  /* color: var(--text-color) !important; */
  border: none;
}

@media screen and (max-width: 730px) {
  .forgot-password-card {
    height: 100vh;
    width: 100% !important;
    overflow: auto;
    border: none;
    border-radius: 0 ;
  }
}