body {
  overflow: hidden;
}

.content-containers{
  background-color: var(--bg-color);
  padding: 10px;
  height: 100vh;
}

.content-card {
  position: relative;
  background-color: var(--content-bg);
  min-height: calc(100vh - 110px);
  height: calc(100vh - 90px);
  overflow-y: auto; 
  padding: 3px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* set mobile screen pasdding 0 for content container */
@media screen and (max-width: 768px) {
  .content-containers {
    padding: 0;
    /* height: auto; */
    height: calc(100vh - 70px);
  }
  .content-card {
    height: calc(100vh - 20vh);

    overflow: auto;
    border-radius: 0;
  }
}
