.footer-container {
  width: 100%;
  position: absolute;
  z-index: 100;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  bottom: 0;
  border: 0.1px solid rgba(128, 128, 128, 0.205);
  display: none;
}

@media screen and (max-width: 700px) {
  .footer-container {
    display: flex;
  }
}