.search-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex: content;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 100%;
  max-width: 700px;
  border-radius: 15px;
}


/* Media query for mobile screens */
@media screen and (max-width: 768px) {
  .search-form {
    flex-direction: column; /* Align items in a column for mobile screens */
    padding: 10px; /* Add padding for spacing */
  }
}
