.profile-container {
  justify-content: center;
  height: auto;
}

.profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: var(--sider-bg);
  border-color: var(--sider-bg);
  color: var(--white);
  transition: background-color 0.3s; /* Add transition for smooth effect */
}

.edit-button:hover {
 
  background-color: var(--slate-900) !important;
  border-color: var(--slate-900) !important;
  color: var(--white) !important;
}

