/*  Profile */
.profile-container {
  justify-content: center;
  height: auto;
  background-color: var(--content-bg) !important;
}

.profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-card {
  height: calc(100vh - 110px);
  min-height: calc(100vh - 110px) !important;
  overflow: auto;
  background-color: var(--content-bg) !important;
  border-color:  var(--border-color) !important;
}
.bg-profile-text-field {
  background-color: var(--content-bg) !important;
}

.recent-upload-card {
  height: calc(100vh - 110px);
  min-height: calc(100vh - 110px) !important;
  background-color: var(--content-bg) !important;
  border-color:  var(--border-color) !important;
}

@media screen and (max-width: 768px) {
  .profile-card {
    height: auto !important;
    min-height: auto !important;
    border: none ;
    margin-bottom: 100px;
  }
  .recent-upload-card{
    height: auto !important;
    min-height: auto !important;
    border: none ;
  }
}

/* Update profile */
.update-profile-container  {
  height: calc(100vh - 150px);
}
.update-profile-card {
  /* border: none !important; */
  background-color: var(--card-hover) !important;
  border-color:  var(--border-color) !important;
}
.uploadProgress {
  background-color: var(--card-hover) !important;
}

@media screen and (max-width: 768px) {
  .update-profile-card {
    height: 100vh !important;
    width: 100% !important;
    min-height: calc(100vh - 140px) !important;
    border: none ;
    border-radius: 0;
  }
}