
.create-audio-thumnaill-card {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color) !important;
  height: 200px;
  overflow: hidden;
}
.create-card-bg {

  background-color: var(--card-hover) !important;
  border-color: var(--border-color) !important;
  color: var(--text-color) !important;

}
.upload-progress  {
  background-color: var(--bg-color) !important;
  color: var(--bg-color) !important;
}


.upload-audio.ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload.ant-upload-select, :where(.css-dev-only-do-not-override-j9bb5n).ant-upload-wrapper.ant-upload-picture-circle-wrapper .ant-upload.ant-upload-selec{
  width: 200px;
  height: 150px;
  background-color: var(--input-bg) !important;
  text-align: center;
  vertical-align: top;
  border: 1px dashed #d9d9d9;
  border-radius: 20px;
  cursor: pointer;
  transition: border-color 0.3s;
}

.upload-image.ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload.ant-upload-select {
  width: 200px;
  height: 150px;
  background-color: var(--input-bg) !important;
  text-align: center;
  vertical-align: top;
  border: 1px dashed #d9d9d9;
  border-radius: 20px;
  cursor: pointer;
  transition: border-color 0.3s;
}


.upload-image.ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload-list.ant-upload-list-picture-card .ant-upload-list-item {
  height: 150px;
  width: 150px;
  border-color: var(--bg-color);
  margin-top: -25px ;
  right: 25px;
  text-align: center;
  vertical-align: top;
  border: 1px dashed #d9d9d9;
  cursor: pointer;
  transition: border-color 0.3s;
}

/* update podcast =============================================== */