
.create-card-bg {
  background-color: var(--card-bg) !important;
  border-color: var(--border-color) !important;
}
.upload-progress  {
  background-color: var(--bg-color) !important;
  color: var(--bg-color) !important;
}

:where(.create-textarea.css-dev-only-do-not-override-1r287do).ant-input-textarea-affix-wrapper.ant-input-affix-wrapper >textarea.ant-input {
  font-size: inherit;
  border: none !important;
  outline: none !important;
  border-radius: 5px !important;
  background-color: var(--text-area-bg) !important;
}


.upload-button {
  display: flex; 
  justify-content: center;
  align-items: center; 
  border-radius: 100px;
  width: 150px;
  height: 45px; 
  line-height: 40px; 
  text-align: center; 
}

/* update podcast =============================================== */