
.create-card-bg {
  background-color: var(--card-hover) !important;
  border-color: var(--border-color) !important;
}
.upload-progress  {
  background-color: var(--bg-color) !important;
  color: var(--bg-color) !important;
}



/* update podcast =============================================== */