/* styles.css */
.loading-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bg-color);
}

.spinner {
  font-size: 24px;
  color: #fff; /* Ant Design primary color */
}