@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden !important ;
  background: rgb(153,155,161);
  background: radial-gradient(circle, rgba(153,155,161,1) 0%, rgba(14,48,102,1) 100%);
}

.animation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-text {
  font-weight: bold;
  color: white;
  font-family: "Caveat", cursive !important;
  font-optical-sizing: auto !important;
}

@media (prefers-color-scheme: dark) {
  .loading-text {
    color: #d1d5db; /* dark:text-gray-300 equivalent */
  }
}
