/* HeaderStyles.css */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 70px;
  background-color: var(--white);
  border-radius: 20px;
  border: 0.1px solid rgba(128, 128, 128, 0.205);

}

.modal-logout {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.modal-logout img {
  width: 150px; 
}

.menu-icon {
  color: red;
  font-weight: bold;
}

.drawer {
  width: 300px;
  right: 0;
  position: absolute;
  display: block;
}

.name-style {
  text-transform: uppercase;
}

.ant-drawer-content-wrapper {
  width: 300px !important;
}
.title-drawer {
  display: flex;
  align-items: center;
  padding: 0rem;
  border-radius: 20px;
  height: 50px;


}
@media (min-width: 768px) {
  .drawer,
  .ant-drawer-mask {
    display: none !important;
  }
  .ant-drawer-content-wrapper {
    display: none !important;
  }


}

@media screen and (max-width: 768px) {
  .header-container {
    border-radius: 0;
  }
}

@media screen and (max-width: 820px) {
  .uppercase {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .audio-control {
    display: none;
  }
}