@font-face {
  font-family: 'KhmerOS_battambang';
  src: url('/KhmerOS_battambang.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'KhmerOS_battambang', sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

h1, span, div, h2, h3, h4, label,textarea, rules, placeholder, button, a, p, input, title {
  font-family: 'KhmerOS_battambang' sans-serif;
}

input::placeholder, textarea::placeholder {
  font-family: 'KhmerOS_battambang', sans-serif;
}

/* root ======================================= */
:root {
  --bg-color: #4f46e5;
  /* --bg-color:  rgba(14,48,102,1) ; */
  --sidemenu-mobile-bg: #fff;
  /* --content-bg: #fff; */
  --content-bg: #f3f4f6;
  --header-bg: #fff;
  --card-bg: #fff;
  --text-color: #374151;
  --forgot-password-bg: #4f46e5;
  --forgot-password-card: #f1f5f9 ;
  --back-btn-view-podcast: #f8fafc; 
  --card-hover: #f4f5f7;
  --border-color: #e2e8f0;
  --sidemenu-border-color: #4040409b;
  --input-bg: #fff;
  --input-focus: #4f46e5;
  --search-input-bg: #f1f5f9;
  --avatar-bg: #9f9f9f;
  --loading-overlay: rgb(236, 233, 233);
  --text-area-bg: #f1f5f9;
  --dropdown-bg: #fff;
  --Btn-bg: #f4f5f7;
  --header-bg: #fff;

  --create-input-bg: #f1f5f9;

  --placeholder-color: #9f9f9f;
  --placeholder-color-text-area: #9f9f9f;
  /* --ant-modal-mask : #232630dc; */

  /* --audio-icon: #6b7280; */
  --audio-icon: #4f46e5;
  --white: #fff;
  --sider-item-selected: #33313135;
  --slate-100: #f1f5f9;
  --gray-300: #d2d6dc;
}

/* dark ======================================= */
.dark {
  --bg-color: #282828;
  --sidemenu-mobile-bg: #282828;
  --content-bg: #1C1C1C;;
  --header-bg: #1C1C1C;;
  --card-bg: #282828;
  --text-color: #f1f5f9;
  --forgot-password-bg: #282828;
  --forgot-password-card: #1C1C1C ;
  --back-btn-view-podcast: #282828; 
  --card-hover: #373737;;
  --border-color: #373737;
  --sidemenu-border-color: #e2e8f089;
  --audio-icon: #d2d6dc;
  --input-bg: #282828;
  --input-focus: #4f46e5;
  --search-input-bg: #282828;
  --avatar-bg: #9f9f9f;
  --loading-overlay: #282828;
  --text-area-bg: #373737;
  --dropdown-bg: #373737;
  --Btn-bg: #373737;
  --header-bg: #1C1C1C;
  
  --create-input-bg: #373737;

  --placeholder-color-text-area: #b7babd;
  --sider-item-selected: #1C1C1C;
}

/* ant input  */

:where(.css-dev-only-do-not-override-j9bb5n).ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload.ant-upload-select:not(.ant-upload-disabled):hover, :where(.css-dev-only-do-not-override-j9bb5n).ant-upload-wrapper.ant-upload-picture-circle-wrapper .ant-upload.ant-upload-select:not(.ant-upload-disabled):hover {
  border-color: #4f46e5;
}

.spin-loading {
  display: flex;
  justify-content: center;
  height: calc(100vh -150px);
}

.back-btn-view-podcast {
  background-color: var(--back-btn-view-podcast);
} 


/* ============================================ */
.ant-card {
  background-color: var(--card-hover) ;
  border-color: var(--border-color);
  
}
.ant-card-head-title {
  color: var(--text-color) !important;
}
.ant-form-item-label  {
  color: var(--text-color) !important;
}
.ant-input-affix-wrapper  {
  background-color: var(--input-bg) !important;
}
.ant-input {
  color: var(--text-color) !important;
}

.ant-input-textarea-affix-wrapper{
  background-color: var(--card-hover) !important;
  /* background-color: var(--input-bg) !important; */
}
/* Firefox */
.ant-input-affix-wrapper input::-moz-placeholder,
.ant-input-textarea-affix-wrapper textarea::-moz-placeholder {
  color: var(--placeholder-color-text-area) !important;
}

/* Chrome, Safari, Opera */
.ant-input-affix-wrapper input::-webkit-input-placeholder,
.ant-input-textarea-affix-wrapper textarea::-webkit-input-placeholder {
  color: var(--placeholder-color-text-area) !important;
}

/* Internet Explorer */
.ant-input-affix-wrapper input:-ms-input-placeholder,
.ant-input-textarea-affix-wrapper textarea:-ms-input-placeholder {
  color: var(--placeholder-color-text-area) !important;
}

.ant-input-data-count {
  color: var(--text-color) !important;
}

/* Firefox */
input::-moz-placeholder {
  color: var(--placeholder-color) !important;
}

/* Chrome, Safari, Opera */
input::-webkit-input-placeholder {
  color: var(--placeholder-color) !important;
}

/* Internet Explorer */
input:-ms-input-placeholder {
  color: var(--placeholder-color) !important;
}

input, placeholder {
  background-color:  var(--input-bg) !important;
  border-color: var(--border-color);
  color: var(--text-color);
}

label, title {
  color: var(--text-color) !important;
}

.ant-input-password-icon {
  color: var(--text-color) !important;

}

/* ===================== ant modal ======================= */
.ant-modal-content {
  background-color: var(--content-bg) !important;
}
.ant-modal-title {
  background-color: var(--content-bg) !important;
  color: var(--text-color) !important;
}
.ant-modal-body {
  background-color: var(--content-bg) !important;
}

/* .ant-modal-mask {
  background: rgb(153,155,161);
  background: radial-gradient(circle, rgba(153,155,161,1) 0%, rgba(14,48,102,1) 100%);
} */

.ant-picker {
  background-color: var(--card-hover) !important;
}
/* ==================== Dropdown ========================= */
.ant-dropdown-menu {
  background-color: var(--content-bg) !important;
  /* border: 2px solid var(--card-hover) !important; */
  gap: 5px;
}
.ant-dropdown-menu-item {
  padding: 10px 20px !important;
  border: 1px solid var(--border-color) !important;
  background-color: var(--content-bg) !important;
}
.ant-dropdown-menu-item:hover {
  background-color: var(--card-hover) !important;
}
.ant-dropdown-menu-title-content {
  color: var(--text-color) !important;
}

/* ===================== Btn style ========================== */
.button-style {
  display: flex; 
  justify-content: center;
  align-items: center; 
  border-radius: 15px;
  /* width: 150px; */
  width: 100%;
  height: 45px; 
  line-height: 40px; 
  text-align: center; 
  background-color: var(--Btn-bg) !important;
  color: var(--text-color) !important;
  border-color: var(--border-color) !important;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
