@font-face {
  font-family: 'KhmerOS_battambang';
  src: url('/KhmerOS_battambang.ttf') format('truetype');
}

body {
  font-family: 'KhmerOS_battambang', sans-serif;
}

h1, span, div, h2, h3, h4, label,textarea, rules, placeholder, button, a, p, input, title {
  font-family: 'KhmerOS_battambang' sans-serif;
}

input::placeholder, textarea::placeholder {
  font-family: 'KhmerOS_battambang', sans-serif;
}


.icon-container {
  display: flex;
  /* justify-content: center;
  align-items: center;

  border-radius: 50%; */
  position: relative;
  overflow: hidden;
  /* background-color: rgba(255, 255, 255, 0.3);  */
  backdrop-filter: blur(4px); 
  padding: 3px;
  width: 35px;
  height: 35px;
}

.icon-style {
  font-size: 1.5rem;
  color: white;
  position: relative;
  /* z-index: 1; */

}

.blur-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
 
  z-index: 0;
}
