.container-view-podcast {
  justify-content: space-between;
}


.play-and-more-btn-mobile  {
  display: none;
}

@media (max-width: 868px) {
  .play-and-more-btn-laptop  {
    display: none;
  }
}

.view-podcast-card {
  position: relative !important;
  height: 100vh !important;
  overflow: hidden !important;
  border: none !important;
  padding: 0 !important;
  z-index: 20 !important;
  background-color: var(--content-bg) !important;
}

@media screen and (max-width: 868px) {
  .play-and-more-btn-mobile {
    display: flex;
  }

  .image-view-podcast {
    min-width: 300px !important;
    min-height: 300px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .container-view-podcast {
    display: flex;
    justify-content: center !important;
  }

  .view-podcast-card {
    height: 100% !important;
  }

}